.main-ber
  .main-ber__chat-name
    .main-ber__chat-name-left
      .main-ber__chat-name-group
        techcamp
      .main-ber__chat-name-member
        Member:masa
    .main-ber__chat-name-right 
      = link_to 'Edit', '#', class:"edit-btn"

  .main-ber__chat-spaces
    = render @messages

  .main-ber__massage-form
    %form.input-ber
      .form-input
        %input{type: "text", class: "form-input__text" ,placeholder: "type a message"}
        %label{class: "form-input__icon"}
          =icon('fa', 'image')
          %input{type:"file", class: "form-input__file"}
      %input{type: "submit", class: "form-btn", value: "Send"}
