.side-ber 
  .side-ber__user
    .top-ber
      .top-ber__name
        masa
      .top-ber__items
      = link_to "#", class: "top-ber__items-icon" do
        = icon('fas', 'cog')
      = link_to "#", class: "top-ber__items-icon" do
        = icon('far', 'edit')

  .side-ber__groups
    .side-ber__groups-group
      .side-ber__groups-group-name
        techcamp
      .side-ber__groups-group-massage
        まだメッセージがありません

    .side-ber__groups-group
      .side-ber__groups-group-name
        techcamp
      .side-ber__groups-group-massage
        まだメッセージがありません

    .side-ber__groups-group
      .side-ber__groups-group-name
        techcamp
      .side-ber__groups-group-massage
        まだメッセージがありません
